<section class="admin-page">
  <div class="scp-card">
    <div class="card-header">
      @if(editMode){ Edit Product } @else { Add New Product }
    </div>
    <span class="card-subheader">You can add or edit products here</span>
    <div class="scp-card-body">
      <div class="ui-toolbar toolbar-right">
        <button class="scp-btn btn-success" (click)="onSubmit()">
          <i class="ri-add-fill icon"></i>
          @if(editMode){ Update } @else { Create }
        </button>
        <button class="scp-btn btn-light" (click)="onCancel()">
          <i class="ri-arrow-left-line icon"></i> Cancel
        </button>
      </div>

      <form [formGroup]="productForm" class="form">
        <div>
          <label class="form_label" for="name">Product Name</label>
          <input
            class="form_control"
            id="name"
            formControlName="name"
            placeholder="Enter Product Name"
          />
        </div>
        <div>
          <label class="form_label" for="manufacturer">Manufacturer</label>
          <select
            class="form_control"
            id="manufacturer"
            formControlName="manufacturer"
          >
            <option value="" disabled selected>Select an option</option>
            @for(manufacturer of manufacturers; track manufacturer.id){
            <option [value]="manufacturer.id">
              {{ manufacturer.name }}
            </option>
            }
          </select>
        </div>

        <div>
          <label class="form_label" for="price">Price</label>
          <input
            class="form_control"
            id="price"
            type="number"
            min="0"
            formControlName="price"
            placeholder="Enter a Price"
          />
        </div>

        <div>
          <label class="form_label" for="expiryDate">Expiry Date</label>
          <input
            class="form_control"
            id="expiryDate"
            type="date"
            formControlName="expiryDate"
            [min]="minDate"
          />
        </div>
      </form>
    </div>
  </div>
</section>
