<section class="admin-page">
  <div class="scp-card">
    <div class="scp-card-body">
      <div class="description_container">
        <div class="floating_object">
          <img [src]="scp_logo" alt="floating logo" />
        </div>
        <div class="description">
          <h3>SmartCat Pharmacy</h3>
          <p>
            This application is an admin page designed for the efficient
            management of medicament products. It features three primary
            sections:
          </p>
          <ul>
            <li>
              <strong>Statistics Page:</strong> Displays insightful data
              visualizations using pie charts and bar charts. The pie chart
              shows the distribution of products by manufacturers, while the bar
              chart represents product quantities with their prices on the
              y-axis.
            </li>
            <li>
              <strong>Product Management Page:</strong> Allows users to perform
              CRUD (Create, Read, Update, Delete) operations on the product
              catalog, ensuring streamlined management of medicament inventory.
            </li>
            <li>
              <strong>About Page:</strong> Provides a brief overview of the
              application and its author, highlighting its purpose and features.
            </li>
          </ul>
        </div>

        <div class="author_section">
          <p class="author">
            Created by:
            <a href="https://aleksandar-vujic.web.app" target="_blank"
              >Aleksandar</a
            >
          </p>
          <p class="version">App Version: 1.0.0</p>
        </div>
      </div>
    </div>
  </div>
</section>
