@import "../base/colors.scss";

.admin {
  &-wrapper {
    height: 100%;
    padding: 0;
    margin: 0;
  }

  &-main {
    width: calc(100% - 200px);
    margin-left: 200px;
  }

  &-sidebar {
    position: fixed;
    width: 200px;
    background-color: $dark_side;
    height: 100%;
    top: 0;
    transition: width 0.3s ease;
    // border-top-right-radius: 25px;
    // border-bottom-right-radius: 25px;

    .logo {
      padding: 20px;
      margin-bottom: 40px;
      user-select: none;

      img {
        max-width: 100%;
      }

      &-title {
        display: block;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 700;
        color: #2196f3;
        letter-spacing: 1px;
      }
    }

    .active-link {
      background-color: $primary_color;
      // border-top-right-radius: 25px;
      // border-bottom-right-radius: 25px;
    }

    .links {
      ul {
        margin: 0;
        padding: 0;

        li {
          display: block;
          list-style: none;
          width: 100%;

          a {
            color: $white_origin;
            padding: 10px 15px;
            display: block;
            font-size: 1.2rem;

            &:hover {
              cursor: pointer;
              background-color: $primary_color;
              // border-top-right-radius: 25px;
              // border-bottom-right-radius: 25px;
            }

            i {
              margin-right: 8px;
              margin-top: 0;
            }
          }
        }

        li:last-child {
          margin-top: auto;
        }
      }
    }
  }

  &-page {
    padding: 15px;
  }
}
