$primary_color: #1976d2;
$extra_light: #f5f5f5;
$extra_light_2: #e0e0e0;
$white_origin: #fff;
$dark_gray: #495057;
$dark_side: #0a1d31;

$box_shadow_light: 0 2px 5px rgba(0, 0, 0, 0.1);
$box_shadow_light_2: 0 4px 6px rgba(0, 0, 0, 0.1);
