// google material fonts
@font-face {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap");
}
