@import "../base/colors.scss";

.table-wrapper {
  border-radius: 1rem;
  box-shadow: $box_shadow_light;
  margin: 1em auto;
  overflow: hidden;
  overflow-x: auto;
  width: 100%;
}

table {
  width: 100%;

  td {
    text-align: center;
    vertical-align: middle;
    & button {
      margin: auto 3px;
    }
  }

  tr {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    &:nth-child(2n) {
      background-color: $white_origin;
    }
    &:nth-child(2n + 1) {
      background-color: #edf7f8;
    }
  }

  th {
    background-color: $extra_light;
    font-weight: 600;
  }
}

table td,
table th {
  color: #004953;
  padding: 1.5rem;
}
