@import "../base/colors.scss";

.ui-toolbar {
  display: flex;
  align-items: center;
  background-color: $extra_light;
  color: #ecf0f1;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: $box_shadow_light;
  button {
    margin: auto 3px;
  }
}
.toolbar {
  &-right {
    justify-content: flex-end;
  }
  &-center {
    justify-content: center;
  }
  &-left {
    justify-content: flex-start;
  }
}

@media (max-width: 768px) {
  .ui-toolbar .toolbar-left,
  .ui-toolbar .toolbar-right {
    flex-direction: column;
    align-items: flex-start;
  }
}
